---

---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/shop">Shop</a>
  <a href="/contact">Contact</a>
</div>
<style>
  .nav-links {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 18px;

  }

  .nav-links a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }

  .nav-links a:hover {
    background-color: black;
    border-radius: 20px;
    color: white;
    
  }